@import './colors';



.absolute {
    position: absolute;
  }
  
  // HEADER
  .port-navbar.port-nav-base {
    // background-image: linear-gradient(45deg,#00aeef 0%,#096fb9 100%);
    background-color: transparent;
    
    width: 100%;
    z-index: 15;
    padding: 40px; 
  
    .port-navbar {
      &-brand {
        color: white;
        font-size: 34px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 800;
        font-style: italic;
        padding-left: 10px;
      }
  
      &-item {
        margin-left: 10px;
        margin-right: 10px;
      }
     
      
  
      &-link {
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.8px;
        font-size: 18px;
        text-transform: uppercase;
  
        &.active {
        color: #dba919;
        }
  
        &:hover, &:focus {
          color: #ffcd39;
          font-weight: 900;
          transform: scale(1.1);
          transition: all .5 ease-in-out;
        }
      }
    }
  }

  .collapse {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 100px;
  }


  .port-navbar.port-nav-base.port-nav-default {
    padding: 30px;
    background-color:$secondary !important;
     
  }

   
  
  

  @media (max-width: 600px) {
    .absolute {
      position: relative;
      
    }

    .port-navbar.port-nav-base.port-nav-default {
      background-color:$secondary !important;
    }

    .port-navbar.port-nav-base {
     background-image: linear-gradient(45deg,#00aeef 0%,#096fb9 100%) !important;
   }

    .collapse {
      display: flex;
      justify-content: flex-start;
      padding-top:10px;
      
    }
    
     
  }

  